{% load static %}
{% load i18n %}

<header class="header">
    <div class="header-content">
        <div class="header-main">
            <div class="header-main-container">
                {% include "base/header/logo.html" %}
                {% include "base/header/navigation.html" %}
                <div class="header-actions">
                    {% include "base/header/search.html" %}
                    {% include "base/header/user-menu.html" %}
                </div>
            </div>
        </div>
    </div>
</header>
