{% load static %}

<div class="partners-container">
    <div class="shield-icon">
        <img src="{% static 'img/icons/shield-icon.svg' %}" alt="Partners Shield" class="shield-image">
    </div>
    <div class="partners-branches">
        <!-- Partner branches will be dynamically loaded -->
        <div class="branch branch-1">
            <div class="partner-icon">
                <img src="{% static 'img/icons/partner-icon-1.svg' %}" alt="Partner 1" class="partner-image">
            </div>
        </div>
        <div class="branch branch-2">
            <div class="partner-icon">
                <img src="{% static 'img/icons/partner-icon-2.svg' %}" alt="Partner 2" class="partner-image">
            </div>
        </div>
        <div class="branch branch-3">
            <div class="partner-icon">
                <img src="{% static 'img/icons/partner-icon-3.svg' %}" alt="Partner 3" class="partner-image">
            </div>
        </div>
    </div>
</div>
