{% load media_tags static i18n %}
<article class="card card--lift" data-lift>
    <a class="card-media card-media--portrait" href="{{ magazine.get_absolute_url }}" tabindex="-1" aria-hidden="true">
        {% if magazine.cover_image %}
            {% picture magazine.cover_image sizes="(min-width: 64rem) 20rem, 45vw" alt="" %}
        {% else %}
            <img src="{% static 'img/magazine-tawil.png' %}" alt="" loading="lazy">
        {% endif %}
    </a>
    <div class="card-body">
        <span class="kicker">{% if magazine.published_at %}{{ magazine.published_at|date:"F Y" }}{% else %}{% trans "Edition" %}{% endif %}</span>
        <h3 class="card-title"><a href="{{ magazine.get_absolute_url }}">{{ magazine.title }}</a></h3>
        {% if magazine.description %}<p class="card-excerpt line-clamp-2">{{ magazine.description }}</p>{% endif %}
    </div>
</article>
